# PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/banking_db
DB_USER=bank
DB_PASS=bank_pass

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka (hors Docker : localhost:9092, dans Docker : kafka:29092)
KAFKA_BOOTSTRAP=localhost:9092

# JWT (min 32 caractères)
JWT_SECRET=change-me-in-production-use-a-rsa-key-at-least-32-chars-long
JWT_ISSUER=http://localhost:8080

# Serveur
SERVER_PORT=8080

# Profil Spring (dev = logs couleur, prod = JSON)
SPRING_PROFILES_ACTIVE=dev
