# Database
DB_URL=jdbc:postgresql://localhost:5432/banking_db
DB_USER=bank
DB_PASS=bank_pass

# Kafka
KAFKA_BOOTSTRAP=localhost:9092

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT / OAuth2
JWT_ISSUER=core-banking
JWT_SECRET=change-me-in-production-use-a-rsa-key

# Application
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
